*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.container{
width: 1000px;
margin: 0 auto;
}
/* prima immagine */
.box-prodotto{
    float: left;
    width: calc( ( 100% / 3) - 20px );
    margin-bottom: 20px;
    position: relative;
    margin:10px;
}
.image-first{
    position: relative;
}
.immagine{  
    width: 100%;
}
.box-heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
    font-size: 50px;
    padding: 0 15px;   
}
.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.bottom-left div{
    display: inline-block;
    color: white;
    font-size: 14px;
    padding: 5px; 
}
.sostenibile{
    background-color: mediumseagreen;
    width: 80px;
    
}
.sconto{
    background-color: maroon;
    width: 40px;
}
/* fine parte immagine */
.colore{
    color: mediumvioletred;
    font-weight: 700;
}
.box-background{
    background-color: olivedrab;
}


